/* IMPORTACIÓN DE ESTILOS */


/* DEFINICIÓN DE VARIABLES */
:root {

    /* PALETA DE COLORES */
    --colorPrinc: #FEFEFE;
    --colorsSec: #000000;
    --colorTerc: #505050;

    /* ESTILOS DE FUENTE */

    --fuenteColorPrinc: #000000;
    --fuenteColorSec: darkgrey;

    --fontSizeLinks: 1.1rem;
}

/* --------------- ESTILOS GLOBALES DEL SITIO WEB --------------- */
html {
    scroll-behavior: smooth;    /* Seteo de scroll suave. */
}

body {
    /* Reseteo de valores precargados de cada browser. */
    margin: 0;
    padding: 0;

    height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
    font-weight: 800;
}

p {
    font-size: 1.1rem;
}


/* --- NavBar --- */
nav {
    height: 50px;
    width: 100%;

    background-color: var(--colorsSec) ;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: 0.3s;
}

nav img {
    width: 30px;
    position: absolute;
    right: 20px;
    visibility: hidden;
}

nav:hover {
    box-shadow: 15px 0px 50px rgb(0, 00, 255);
}

nav ul {
    width: auto;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

nav ul li {
    transition: 0.3s;
}

nav ul li a {
    text-decoration: none;
    font-size: var(--fontSizeLinks);
    color: var(--colorPrinc);
}

nav ul li:hover {
    text-shadow: 0px 0px 30px rgb(208, 0, 255);
    transform: scale(105%);
}


/* --- Footer ---*/
footer {
    height: 50px;
    width: 100%;

    background-color: var(--colorsSec) ;
    color: var(--colorPrinc);

    display: flex;
    align-items: center;
    justify-content: center;

    transition: 0.3s;
}

footer:hover {
    box-shadow: -15px 0px 50px rgb(0, 00, 255);
}

footer ul {
    width: 80%;
    display: flex;
    flex-direction: row;
    gap: 10px;

    align-items: center;
    justify-content: space-between;

    list-style: none;
}


/* --------------- RESPONSIVE MOBILE --------------- */

@media  screen and (min-width:0px) and (max-width:699px) {

    nav ul {
        visibility: hidden;
    }
    
    nav img {
        visibility: visible;
        width: 30px;
        position: absolute;
        right: 20px;
    }

    footer {
        font-size: 0.8rem;
    }

    footer ul {
        visibility: hidden;
    }

}