/* --------------- ESTILOS PARTICULARES DE LA PÁGINA WEB --------------- */
body {
    background-image: url(./recursos/fondo_abstracto.jpg);

    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}


main {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    backdrop-filter: blur(3px);
}

.logWindow {
    width: 300px;
    height: 300px;

    border: none;
    border-radius: 15px;
    background-color: rgba(50, 50, 50, 25%);
    box-shadow: 1px 1px 15px black;

    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.logWindow section {
    width: 80%;
}

.logWindow section h3 {
    margin: 0;
    padding: 10px;
}

.logWindow img {
    height: 50px;
}

.logWindow section input {
    width: 100%;
    padding: 5px 0px 5px 0px;
    margin: 5px;

    box-sizing: border-box;
    border: none;
    border-radius: 5px;
}

.logWindow section input::placeholder, .logWindow section input:focus, .logWindow section input:valid {
    text-align: center;
    color: var(--colorTerc);
}

.logWindow button {
    width: 60%;
    padding: 5px;
    margin: 0;
    
    font-size: 1rem;
    font-weight: 600;
    color: var(--colorPrinc);
    background-color: var(--colorsSec);

    border: none;
    border-radius: 5px;

    box-shadow: 4px 4px 3px rgb(55, 55, 55);

    cursor: pointer;
    transition: 0.3s;
}

.logWindow button:active {
    box-shadow: 0px 0px 0px var(--colorPrinc);
    transform: scale(98%);
}

.logWindow a {
    margin: 0;
    padding: 5px;

    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--colorPrinc);
    text-shadow: 1px 1px 3px var(--colorsSec);

}